/* App.css */

/* Style for the entire todo list container */
.todo-list {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

/* Style for each todo item */
.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Style for the checkbox */
.todo-checkbox {
  margin-right: 10px;
}

/* Style for the delete button */
.delete-button {
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

/* Style for the input field and add button */
.input-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.todo-input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.add-button {
  background-color: #008000;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}
.completed{
  text-decoration: line-through;
}

h3 {
  font-size: 24px;
  color: #333; /* Change the color to your preference */
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase; /* Makes the text uppercase */
}